/*
To do:
-Scratch this template out
-I want to make it more modern with an azure backgroun
-Kinda looks unprofessional right now
-I want to make it look better
-https://www.squarespace.com/templates/portfolio
-Use squarespace as an influence
-Joshua Fluke's video on portfolio
-Remove everything and take what is necessary
-https://www.rapidtables.com/web/color/RGB_Color.html choose a color that wont hurt your eyes
  look at the website without flex on b/c the viewer will most likely not have flex

*/

/*
 Universal Selector * (all elements)

Applies style properties to all individual elements.
Replaces inherited style properties, and default 'initial values'. Blocks inheritance.
*/
* {
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Libre Caslon Text', serif;
  line-height: 1.5;
/*  color: rgb(240,255,255); */
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 /* background: var(--main-red); */
  background-color: #00BFFF;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-blue);
}