/*
To do:
-Scratch this template out
-I want to make it more modern with an azure backgroun
-Kinda looks unprofessional right now
-I want to make it look better
-https://www.squarespace.com/templates/portfolio
-Use squarespace as an influence
-Joshua Fluke's video on portfolio
-Remove everything and take what is necessary
-https://www.rapidtables.com/web/color/RGB_Color.html choose a color that wont hurt your eyes
  look at the website without flex on b/c the viewer will most likely not have flex
- Make the nav bar transparent and the nav items the color black
-what is wrong with interests section? where are my bullet points?
*/

/*
 Universal Selector * (all elements)

Applies style properties to all individual elements.
Replaces inherited style properties, and default 'initial values'. Blocks inheritance.
*/
* {
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Libre Caslon Text', serif;
  line-height: 1.5;
/*  color: rgb(240,255,255); */
}



a {
  /* Removes the hyperlink and the blue color for links */
  text-decoration: none;
  color: black;
}

img {
  display: block; /* Take up a new line */
  width: 100%;  /* Take up 100% width of the entire page */
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  /* position: fixed; Dont make the navbar fixed */ 
  top: 0;
  left: 0;
  width: 100%;
 /* background: var(--main-red); */
  background-color: #F0FFFF; 
 /* background-color: transparent; */
  /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); Puts a line on the bottom of the nav bar */ 
  z-index: 10;

}

.nav-list {
  display: flex;
  margin-right: 2rem;
  list-style: none; 

}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}




.nav-list a:hover {
  background: var(--main-blue);
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #F0FFFF   ;
 /* background-image: linear-gradient(0.25turn, #3f87a6, #778899, #f69d3c); */
 /* margin-top: 8%; */
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #00BFFF  ;
  
}

.welcome-image{
  width: 50%;

}

/* Interests Section */

.interests-section
{
  list-style-type: circle;
  text-align: center;
  background-color: #F0FFFF; 


}

.interest-section li 
{
  display: inline-block;

}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #F0FFFF   ;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #3e64ff;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  background: #5edfff;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50vh;
  padding: 0 2rem;
  background: black;
  color: white;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
  color: white;

}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  color: white;

}

.contact-details:hover {
  transform: translateY(8px);
}


