/*
To do:
-Scratch this template out
-I want to make it more modern with an azure backgroun
-Kinda looks unprofessional right now
-I want to make it look better
-https://www.squarespace.com/templates/portfolio
-Use squarespace as an influence
-Joshua Fluke's video on portfolio
-Remove everything and take what is necessary
-https://www.rapidtables.com/web/color/RGB_Color.html choose a color that wont hurt your eyes
  look at the website without flex on b/c the viewer will most likely not have flex

*/

body
{
  font-family: 'Libre Caslon Text', serif;
  line-height: 1.5;
}